{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/aboutus.css' %}">

</head>

<body>
    <div class="div1">
        <img src="{% static 'img/logo.png' %}" class="div1-logo">
        <img src="{% static 'img/back.png' %}" class="div1-back" onclick="history.back()">

    </div>


    <div class="div2">
        <div class="div2-left">
            <div class="heading-div">
                <p class="div2-p1">About Us</p>
            </div>
            <p class="div2-p2">
                Welcome to Oneday Service, your one-stop solution for all your one-day service needs. We understand that
                life can get hectic, and finding reliable, efficient help for day-to-day tasks can be challenging.
                That's why we created a platform to connect you with trusted professionals, ensuring that your tasks are
                completed swiftly and with the highest quality. Whether you need a quick repair, a deep clean, or
                last-minute errands, we're here to make your life easier, all within a single day. At Oneday Service,
                your convenience is our priority!

            </p>
        </div class="div2-right">
        <div class="div2-img-div">
            <img src="{% static 'img/about-img.jpg' %}" class="div2-img">
        </div>
    </div>
    <div class="div3">
        <div class="div3-heading">
            <p class="div3-p1">Our Mission</p>
        </div>
        <div class="div3-p2-div">
            <p  class="div2-p2">
                At Oneday Service, our mission is to simplify your life by providing fast, reliable, and efficient
                one-day services that you can count on. We aim to bridge the gap between busy schedules and essential
                tasks by offering a seamless platform that connects you with skilled professionals. Our commitment is to
                ensure that every service is delivered with speed, quality, and trust, so you can focus on what truly
                matters while we handle the rest. We strive to be the helping hand you can always rely on, making
                everyday life a little easier, one task at a time.
            </p>
        </div>
    </div>
    <div class="footer-div">
        <a href="{% url 'copyrights' %}" class="footer-div-a">
            &copy 2024 All Rights Reserved By Mindtek
        </a>
    </div>
</body>

</html>