{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/copyrights.css' %}">

</head>

<body>
    <div class="div1">
        <img src="{% static 'img/logo.png' %}" class="div1-logo">
        <img src="{% static 'img/back.png' %}" class="div1-back"  onclick="history.back()">
    </div>
    <div class="div2">
        <p class="heading">Privacy Policy</p>
        <p class="heading-div-p">Privacy Policy for OneDay Service</p>
        <div class="p-container">
            <p>
                At OneDay Service, accessible from www.onedayservice.com, we prioritize your privacy. This Privacy
                Policy
                document contains types of information that is collected and recorded by OneDay Service and how we use
                it.
            </p>


        </div>
        <p class="p-container2">When you use our service, we may collect the following information: </p>
        <ul class="p-container2">
            <li>Personal Information: Name, email address,phonenumber, etc.</p>
            <li> Service Information: Information related to the service request such as location and service
                details.
            </li>
            <li> Payment Information: Billing details, card information, etc. </li>
            <li>Usage Data: Information on how the app is
                accessed and used (IP address, browser type, etc.).</li>

        </ul>
        <p class="heading-div-p">
            1 . How We Use Your Information
        </p>
        <p class="p-container2">We use the information we collect in various ways, including:</p>
        <ul>
            <li>
                To provide and maintain the service. </li>
            <li>
                To notify you about changes to our services.
            </li>
            <li>
                To provide customer support.
            </li>
            <li>
                To process payments and handle transactions.
            </li>
            <li>
                To improve, personalize, and expand our services.
            </li>
        </ul>

        <p class="heading-div-p">
            2. Sharing Your Information
        </p>
        <p class="p-container2">We do not share your personal information with third parties except: </p>
        <ul>
            <li>
                When required by law.
            </li>
            <li>
                To trusted service
                providers who assist us in operating our website or app.
            </li>
        </ul>


        <p class="heading-div-p">
            3. Data Security
        </p>
        <p>
            We use encryption and other security measures to protect your personal information.
            However, no method of transmission over the internet is 100% secure.</p>
        <p class="heading-div-p">
             4. Third-Party Services
            </p>
        <p>Our website may
            link to third-party services. These third-party sites have separate privacy policies, and we hold no
            responsibility for their activities.</p>
        <p class="heading-div-p">
            5. Children's Privacy
        </p>
        <p>Our services are not directed to individuals
            under the age of 13. We do not knowingly collect personal information from children under 13.</p>
        <p class="heading-div-p">
            6. Changes to This Privacy Policy
        </p>
        <p>We may update this policy periodically. Any changes will be posted on this page, and you
            will be notified via email or the app.</p>
        <p class="heading-div-p">Contact Us</p>
        <p>
            If you have any questions about this Privacy Policy, please contact us at support@onedayservice.com.
        </p>
        <p class="heading">Terms and Conditions</p>

        <p class="heading-div-p">
            Terms and Conditions for OneDay Service
        </p>
        <div class="p-container">
            <p class="p-container2">
                These Terms and Conditions govern the use of the OneDay Service app
                and website, owned and operated by MindTek.
            </p>
            <p>
                By accessing or using OneDay Service, you agree to comply with
                and be bound by these terms. If you do not agree, you may not use our service.
            </p>
        </div>

        <p class="heading-div-p">
            1. Services Provided
        </p>
        <p>
            OneDay Service connects users with service providers for various home or business
            services that can be completed within a day. We act as an intermediary between you and the service
            providers.
        </p>
        <p class="heading-div-p">
            2. User Responsibilities
        </p>
        <p>
            You must provide accurate and current information when signing up for an
            account. You are responsible for keeping your account details secure. You must use the services for lawful
            purposes only.
        </p>
        <p class="heading-div-p">
            3. Service Provider Responsibilities
        </p>
        <p>
            Service providers listed on the platform are independent
            contractors. OneDay Service is not liable for any action or inaction of the service providers. Complaints
            regarding the quality or completeness of the services must be directed to the service provider.
        </p>
        <p class="heading-div-p">
            4. Payment and Refunds
        </p>
        <p>
            All payments for services are processed through our platform. You agree to provide valid payment details.
            Refunds are issued based on our cancellation policy, which can be viewed within the app.
        <p class="heading-div-p">
            5. Limitation of Liability
        </p>
        <p>
            OneDay Service is not liable for any indirect, incidental, or consequential damages arising from
            the use of our services. Our liability is limited to the extent permitted by law.
        <p class="heading-div-p">
            6. Termination </p>
        <p>
            We reservethe right to terminate or suspend your account if you violate these terms. This may result in the
            loss of access to our service.
        <p class="heading-div-p">
            7. Governing Law
        </p>
        <p>
            These Terms and Conditions are governed by the laws of India. Any
            disputes arising in connection with these terms shall be subject to the exclusive jurisdiction of the courts
            in India
        <p class="heading-div-p"> 9. Changes to Terms</p>
        <p>
            We reserve the right to modify these terms at any time. You will be notified of any changes via the app or
            website.
        </p>
        <p class="heading-div-p">
            Contact Us
        </p>
        <p>
            If you have any questions about these Terms and Conditions, please contact us at
            support@onedayservice.com.
        </p>


    </div>

    <div class="footer-div">
        <a href="{% url 'copyrights' %}" class="footer-div-a">
            &copy 2024 All Rights Reserved By Mindtek
        </a>
    </div>
</body>

</html>