* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #dcedfc;
}

.div1 {
    padding: 40px 25px 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.error-message{
    font-size: small;
    color: red;
    padding: 2px 0px 0px 10px;
}
.div1-back{
    width: 55px;
    height: 55px;
    margin-right: 100px;
    cursor: pointer;
}

.heading-div {
    display: flex;
    padding: 60px 0px 60px 86px;

}

.heading-div-p {
    font-size: 40px;
    font-weight: 600;
}

.div1-logo {
    height: 100px;
    width: 150px;

}

form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.contact-img {
    width: 325px;
    height: 500px;
}

.contact-div2 {
    display: flex;
    flex-direction: column;
    gap: 62px;
    align-items: center;

}

.contact-div3-p2 {
    font-size: x-large;
    font-weight: 500;
    padding: 5px 0px;
}
.social-media-icon{
    height: 44px;
    width: 44px;
}
.contact-div3-p1 {
    font-size: xx-large;
    font-weight: 600;
    padding: 35px 0px;
}
.social-media-icon-div{
    width: 317px;
    display: flex;
    height: 151px;
    column-gap: 80px;
    flex-wrap: wrap;
    flex-direction: row;
}
iframe {
    border: 0;
    border-radius: 30px;
    width: 300px;
    height: 275px;
}

.div4-div2-map {
    position: relative;
    top: 120px;
    right: 12%;
}

.div4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
}

.div4-p2 {
    font-size: x-large;
    font-weight: 500;
    display: flex;
    gap: 15px;
    align-items: center;
}

.contact-div-icon {
    height: 41px;
    width: 40px;
}

.div4-box {
    padding: 42px;
    background-color: #c1d0db;
    height: 317px;
    width: 434px;
    border-radius: 34px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label {
    font-size: x-large;
    font-weight: 500;
}

.input-box {
    background: transparent;
    border: none;
    border-bottom: 2px solid #000000;
    width: 350px;
    height: 33px;
    font-size: larger;
}

.input-box:focus {
    outline: none;
    border-bottom: 2px solid #000000;
}

.submit {
    font-weight: 400;
    font-size: x-large;
    height: 57px;
    border: none;
    color: white;
    background-color: black;
    border-radius: 35px;
    margin-top: 27px;
    cursor: pointer;
}

.contact-div3 {
    display: flex;
    flex-direction: column;
}

.div2 {
    display: flex;
    justify-content: space-evenly;
}

.contact-div2-p {
    font-size: xx-large;
    font-weight: 600;
}
.popup{
    width: 495px;
    position: relative; /* Change to relative for better positioning */
    background-color: white;
    height: 400px;
    margin: 0 auto; /* Center horizontally */
    border-radius: 46px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    top: 25%;
}
.popup-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.success-p{
    font-size: xx-large;
    font-weight: 500;
    color: #0ce817;
}
.popup-container{
    height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex; 
    align-items: center;
    justify-content: center;
    z-index: 1000; 
    display: none;
}
.footer-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    background-color: #072152;
}

.footer-div-a {
    text-decoration: none;
    font-size: medium;
    color: white;
}
.video{
    width: 272px; 
    height: 272px;
}
@media screen and (max-width:768px) {

    .div1-back {
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }
    .div1-logo {
        height: 56px;
        width: 90px;
    }
    .heading-div-p {
        font-size: 36px;
    }
    .div2{
        justify-content: space-between;
        padding-right: 20px;
    }
    .heading-div {
        padding: 42px 0px 45px 75px;
    }
    .contact-div1{
        display: flex;
    justify-content: center;
    }
    .contact-img {
        width: 263px;
        height: 425px;
    }

    .input-box {
        width: 237px;
        height: 22px;
        font-size: larger;
    }
    .submit {
        font-size: larger;
        height: 42px;
        width: 179px;
    }

    label {
        font-size: larger;
    }
    .contact-div3-p1 {
        font-size: x-large;
    }
    .contact-div3-p2 {
        font-size: large;
    }
    .div4-box {
        padding: 26px;
        height: 239px;
        width: 333px;
    }
    iframe {
        width: 272px;
        height: 229px;
    }
    .div4-div2-map {
        top: 108px;
        right: 15%;
    }
    .contact-div-icon {
        height: 29px;
        width: 29px;
    }
    .div4-p2 {
        font-size: larger;
    }
    .footer-div-a {
        font-size: small;
    }

    .footer-div {
        height: 40px;
    }
    .social-media-icon {
        height: 36px;
        width: 36px;
    }
    .social-media-icon-div {
        width: 238px;
        height: 105px;
        column-gap: 37px;
    }
    .video {
        width: 227px;
        height: 210px;
    }
    .popup {
        width: 500px;
        height: 325px;
        top: 22%;
        right: 0%;
        border-radius: 25px;
    }
    .success-p {
        font-size: 28px;
    }
}

@media screen and (max-width:562px) {
    .div4-div2-map {
        top: -94px;
        right: 0%;
    }
    .div1 {
        padding: 10px 10px 0px 10px;
    }
    .div4-box {
        padding: 30px;
        height: 229px;
        width: 259px;
    }

    .contact-img {
        width: 234px;
        height: 405px;
    }
    .div1-logo {
        height: 56px;
        width: 90px;
    }
    .div1-back {
        width: 34px;
        height: 35px;
        margin-right: 13px;
    }
    .div2 {
        flex-direction: column;
        padding-right: 0px;
    }

    .div4 {
        flex-direction: column;
        padding: 54px 0px 0px 0px;
    }

    .input-box {
        width: 282px;
        height: 20px;
    }

    .contact-div-icon {
        height: 27px;
        width: 27px;
    }

    .submit {
        font-size: medium;
        height: 41px;
    }

    label {
        font-size: medium;
    }

    .contact-div3-p1 {
        font-size: x-large;
    }

    .contact-div3-p2 {
        font-size: medium;
    }

    .div4-p2 {
        font-size: medium;
    }

    iframe {
        width: 271px;
        height: 207px;
    }

    .footer-div-a {
        font-size: x-small;
    }

    .footer-div {
        height: 35px;
    }

    .heading-div {
        padding: 42px 0px 42px 26px;
    }

    .heading-div-p {
        font-size: 29px;
    }

    .contact-div2 {
        gap: 39px;
    }

    .contact-div2-p {
        font-size: x-large;
        padding-top: 36px;
    }

    .contact-div3 {
        padding-left: 60px;
    }
    .social-media-icon-div {
        width: 265px;
        height: 117px;
        column-gap: 25px;
    }
    .social-media-icon {
        height: 30px;
        width: 30px;
    }
    .video {
        width: 175px;
        height: 175px;
    }
    .popup {
        width: 277px;
        height: 270px;
        top: 30%;
        right: 0%;
        border-radius: 25px;
    }
    .success-p {
        font-size: 21px;
    }
}

@media screen and (max-width:320px) {
    .div4-div2-map {
        top: -94px;
        right: 0%;
    }

    .div4-box {
        padding: 22px;
        height: 229px;
        width: 259px;
    }
    .div1-logo {
        height: 56px;
        width: 90px;
    }
    .div1-back {
        width: 33px;
        height: 34px;
        margin-right: 13px;
    }
    .contact-img {
        width: 234px;
        height: 405px;
    }

    .div2 {
        flex-direction: column;
    }

    .div4 {
        flex-direction: column;
        padding: 54px 0px 0px 0px;
    }

    .input-box {
        width: 282px;
        height: 20px;
    }

    .contact-div-icon {
        height: 27px;
        width: 27px;
    }

    .submit {
        font-size: medium;
        height: 41px;
        margin-top: 19px;
    }

    label {
        font-size: medium;
    }

    .contact-div3-p1 {
        font-size: x-large;
    }

    .contact-div3-p2 {
        font-size: medium;
    }

    .div4-p2 {
        font-size: medium;
    }

    iframe {
        width: 271px;
        height: 207px;
    }

    .footer-div-a {
        font-size: x-small;
    }

    .footer-div {
        height: 35px;
    }

    .heading-div {
        padding: 42px 0px 42px 26px;
    }

    .heading-div-p {
        font-size: 29px;
    }

    .contact-div2 {
        gap: 39px;
    }

    .contact-div2-p {
        font-size: x-large;
        padding-top: 36px;
    }

    .contact-div3 {
        padding-left: 39px;
    }
    .social-media-icon-div {
        column-gap: 12px;
        width: 236px;
        justify-content: space-evenly;
        height: 120px;
    }
    .social-media-icon {
        height: 28px;
        width: 28px;
    }
    .video{
        width: 160px;
        height: 163px;
    }
    .popup {
        width: 249px;
        height: 284px;
        top: 30%;
        right: 0%;
        border-radius: 25px;
    }
    .success-p {
        font-size: larger;
    }
}